In [2]:
import pandas as pd

import os

os.getcwd()
path = os.getcwd()  # 주피터 노트북 파일 경로
os_file_list = os.listdir(path)  # 내 경로 읽어서 파일 리스트 읽음
# print(os_file_list)  # 경로에 있는 파일 리스트

In [3]:
os_file_list

['.ipynb_checkpoints',
 'answer_sample.csv',
 'dataset.zip',
 'META',
 'Pretreatment.ipynb',
 'TEST_AWS',
 'TEST_INPUT',
 'TRAIN',
 'TRAIN_AWS']

In [4]:
os_file_list = ['META', 'TEST_AWS', 'TEST_INPUT','TRAIN','TRAIN_AWS']
All_data = {}
# 모든 csv 파일 한번에 불러옴
for i in range(len(os_file_list)):
    print(os_file_list[i])
    os_file_list_1 = os.listdir(path+"\\"+os_file_list[i])
    import pandas as pd

    for j in range(len(os_file_list_1)):
        All_data[os_file_list_1[j][:-4]] = pd.read_csv(path+"\\"+os_file_list[i]+"\\"+os_file_list_1[j])

META
TEST_AWS
TEST_INPUT
TRAIN
TRAIN_AWS

In [5]:
All_data.keys()

dict_keys(['awsmap', 'pmmap', '계룡', '공주', '논산', '당진', '대산', '대천항', '북격렬비도', '서천', '성거', '세종고운', '세종금남', '세종연서', '세종전의', '세천', '아산', '안도', '양화', '예산', '오월드', '옹도', '유구', '장동', '정산', '정안', '청양', '춘장대', '태안', '호도', '홍북', '홍성죽도', '노은동', '대천2동', '독곶리', '동문동', '모종동', '문창동', '성성동', '신방동', '신흥동', '아름동', '예산군', '읍내동', '이원면', '정림동', '홍성읍'])

In [6]:
All_data["awsmap"]

   Location  Latitude  Longitude                           Description
0       오월드   36.2913   127.3959          대전광역시 중구사정공원로 70 오월드 내 플라워랜드
1        세천   36.3402   127.4938                    대전광역시 동구세천동 63-1
2        장동   36.4135   127.4382                   대전광역시 대덕구장동 360-2
3      세종고운   36.5315   127.2406                   세종특별자치시 고운동산 25번지
4      세종금남   36.4585   127.2688               세종특별자치시 시군구금남면 성덕리 77-3
5      세종연서   36.5667   127.2806                세종특별자치시 연서면봉암리 196-1
6      세종전의   36.6908   127.2005      세종특별자치시 전의면읍내리 5-1번지(전의생활체육공원)
7     북격렬비도   36.6254   125.5595          충청남도 태안군근흥면 가의도리산 27(북격렬비도)
8        호도   36.3012   126.2663                 충청남도 보령시오천면 녹도리 388-5
9        대산   37.0106   126.3881  충청남도 서산시대산읍 대죽리산95-1 (5304부대 대산방공진지)
10       홍북   36.6277   126.6451       충청남도 홍성군홍북면 상하리산91(1789부대 4대대)
11     홍성죽도   36.5200   126.4424                  충청남도 홍성군서부면 죽도리 33-1
12       공주   36.4828   127.1365         충청남도 공주시금흥동 산 21번지(공주예비군 훈련장)
13       서천   36.0625   126.7041         충청남도 서천군마서면 계동리 76-1서천군농업기술센터
14       논산   36.2116   127.1082                   충청남도 논산시덕지동 43-29
15       당진   36.8894   126.6174          충청남도 당진시채운동 363-23(당진예비군훈련장)
16       성거   36.8782   127.1561          충청남도 천안시서북구 성거읍봉주로 75(서북구청)
17       청양   36.4237   126.7791      충청남도 청양군청양읍 구봉로1026-84 청양농업기술센터
18       태안   36.7585   126.2964           충청남도 태안군태안읍 백화로49(태안초등학교)
19       예산   36.7421   126.8144       충청남도 예산군신암면 오신로852(예산군농업기술센터)
20       유구   36.5407   126.9336                충청남도 공주시유구읍 만천리500번지
21       정안   36.5511   127.0938                충청남도 공주시정안면 평정리284-5
22       아산   36.8458   126.8654     충청남도 아산시인주면 현대로1077(현대자동차㈜ 아산공장)
23       양화   36.1319   126.8602           충청남도 부여군양화면 충절로267-6 양화중학교
24       계룡   36.3132   127.2407       충청남도 계룡시신도안면 사서함 501-328호 공군기상단
25      춘장대   36.1741   126.5285                충청남도 서천군 서면 부사로 289부사교
26      대천항   36.3244   126.5021             충청남도 보령시신흑동 산 205155레이더기지
27       안도   36.9587   126.1683               충청남도 태안군원북면 방갈리산240번지
28       옹도   36.6476   126.0093                 충청남도 태안군근흥면 가의도리 산510
29       정산   36.3862   126.9565         충청남도 청양군정산면 학암리 19-2(축산기술연구소)

In [7]:
All_data["pmmap"]

,Location,Latitude,Longitude,Description
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동)
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상
3,문창동,36.317215,127.437825,대전 중구 보문로 20번길 38(문창동 주민센터) 문창동 주민센터
4,읍내동,36.372388,127.417714,대전 대덕구 대전로 1331번길 75(태아산업(주)) 태아산업(주)
5,정림동,36.304442,127.366742,대전 서구 정림동로 10(정림동 주민센터) 정림동 주민센터
6,공주,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
7,논산,36.199217,127.087021,충남 논산시 시민로 389 (취암/부창동 행정복지센터 2층 옥상)
8,대천2동,36.353148,126.589735,충남 보령시 중앙로 142-16 (대천2동 주민센터 옥상)
9,독곶리,36.987579,126.391672,충남 서산시 대산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터 저수동 옥상
10,동문동,36.780158,126.455197,충청남도 서산시 중앙로 38-1 서산초등학교 (동문동)
11,모종동,36.782700,127.014610,충남 아산시 모종동 573-2 보건소옥상
12,신방동,36.782355,127.120506,충남 천안시 동남구 천안천변길 127 천안시 맑은물사업소 하수처리장 (신방동)
13,예산군,36.677398,126.848918,충남 예산군 예산읍 신흥길 63 (다목적 노인회관 옥상)
14,이원면,36.869719,126.280501,충남 태안군 이원면 분지길 14 (이원면사무소 1층 나동 옥상)
15,홍성읍,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
16,성성동,36.840313,127.141777,충남 천안시 서북구 성성동 1-70

In [8]:
train_file_list = ['TRAIN']
TRAIN = {}

# 모든 csv 파일 한번에 불러옴
for i in range(len(train_file_list)):
    print(train_file_list[i])
    os_file_list_1 = os.listdir(path+"\\"+train_file_list[i])
    import pandas as pd

    for j in range(len(os_file_list_1)):
        TRAIN[os_file_list_1[j][:-4]] = pd.read_csv(path+"\\"+train_file_list[i]+"\\"+os_file_list_1[j])

TRAIN

In [9]:
train_file_list = ['TRAIN_AWS']
TRAIN_AWS = {}

# 모든 csv 파일 한번에 불러옴
for i in range(len(train_file_list)):
    print(train_file_list[i])
    os_file_list_1 = os.listdir(path+"\\"+train_file_list[i])
    import pandas as pd

    for j in range(len(os_file_list_1)):
        TRAIN_AWS[os_file_list_1[j][:-4]] = pd.read_csv(path+"\\"+train_file_list[i]+"\\"+os_file_list_1[j])

TRAIN_AWS

In [10]:
test_file_list = ['TEST_INPUT']
TEST_INPUT = {}

# 모든 csv 파일 한번에 불러옴
for i in range(len(test_file_list)):
    print(test_file_list[i])
    os_file_list_1 = os.listdir(path+"\\"+test_file_list[i])
    import pandas as pd

    for j in range(len(os_file_list_1)):
        TEST_INPUT[os_file_list_1[j][:-4]] = pd.read_csv(path+"\\"+test_file_list[i]+"\\"+os_file_list_1[j])

TEST_INPUT

In [11]:
TEST_INPUT["공주"]

      연도           일시 측정소  PM2.5
0      4  01-01 00:00  공주  0.060
1      4  01-01 01:00  공주  0.064
2      4  01-01 02:00  공주  0.072
3      4  01-01 03:00  공주  0.064
4      4  01-01 04:00  공주  0.056
...   ..          ...  ..    ...
7723   4  11-18 19:00  공주  0.052
7724   4  11-18 20:00  공주  0.056
7725   4  11-18 21:00  공주  0.036
7726   4  11-18 22:00  공주  0.044
7727   4  11-18 23:00  공주  0.036

[7728 rows x 4 columns]

In [12]:
test_file_list = ['TEST_AWS']
TEST_AWS = {}

# 모든 csv 파일 한번에 불러옴
for i in range(len(test_file_list)):
    print(test_file_list[i])
    os_file_list_1 = os.listdir(path+"\\"+test_file_list[i])
    import pandas as pd

    for j in range(len(os_file_list_1)):
        TEST_AWS[os_file_list_1[j][:-4]] = pd.read_csv(path+"\\"+test_file_list[i]+"\\"+os_file_list_1[j])

TEST_AWS

In [13]:
#결측치 우선 선형 보간함. 다른 방법 있으면 그렇게 ㄱㄱ
def fill_Na(df):
    df_key = list(df.keys())
    for i in range(len(df_key)):
        df[df_key[i]] = df[df_key[i]].interpolate()
    return df

TRAIN_AWS = fill_Na(TRAIN_AWS)
TRAIN = fill_Na(TRAIN)
TEST_INPUT = fill_Na(TEST_INPUT)
TEST_AWS = fill_Na(TEST_AWS)

In [14]:
# a = "pmmap"
def location(df, All_data,a = "awsmap" ): # pmmap
    
    TRAIN_AWS_key = list(df.keys())
     
    for i in range(len(TRAIN_AWS_key)):

        Latitude = All_data[a].loc[All_data[a]["Location"]== TRAIN_AWS_key[i]].Latitude.iloc[0]
        Longitude = All_data[a].loc[All_data[a]["Location"]== TRAIN_AWS_key[i]].Longitude.iloc[0]

        df[TRAIN_AWS_key[i]]["Latitude"] = Latitude
        df[TRAIN_AWS_key[i]]["Longitude"] = Longitude

    return df

TRAIN_AWS = location(TRAIN_AWS, All_data,a = "awsmap" )
TRAIN = location(TRAIN, All_data,a = "pmmap" )
TEST_AWS = location(TEST_AWS, All_data,a = "awsmap" )
TEST_INPUT = location(TEST_INPUT, All_data,a = "pmmap" )

In [15]:
df = TRAIN_AWS
def concat_all(df): # 모든 데이터 프레임 하나로.
    try:
        qweqwr = df["신방동"] # 걍 있으면
        df_key = ["공주","신방동","정림동","이원면","읍내동","예산군","아름동","신흥동","성성동","노은동","문창동","모종동","동문동","독곶리","대천2","논산","홍성읍"]
    except: 
        pass
    df_key = list(df.keys())

    for i in range(len(df_key)):
        df_1 = df[df_key[i]]
        ## 이름식별 코드##
        col_list = list(df_1.columns)
        for k in range(len(col_list)):
            df_1 = df_1.rename(columns={col_list[k]:df_key[i]+col_list[k]})
        ##          ##
        if i == 0:
            df_all = df_1
            continue
        df_all = pd.concat([df_all,df_1],axis = 1,ignore_index=False)
    return df_all
ALL_TRAIN_AWS = concat_all(TRAIN_AWS)
# del TRAIN_AWS
ALL_TRAIN = concat_all(TRAIN)
# del TRAIN
ALL_TEST_INPUT = concat_all(TEST_INPUT)
# del TEST_INPUT
ALL_TEST_AWS = concat_all(TEST_AWS)
# del TEST_AWS

In [16]:
def use_col_(ALL_TRAIN,str_): # 컬럼명에 어떠한 단어가 포함되는 값 빼어내줌
    ALL_TRAIN_col_list = list(ALL_TRAIN.columns)

    pre_list = [] # 예측할 컬럼들.
    for i,v in enumerate(ALL_TRAIN_col_list):
        if str_ in v :
            pre_list.append(v)
    return pre_list
target = use_col_(ALL_TRAIN,"PM")

In [17]:
ALL_TRAIN.columns

Index(['공주연도', '공주일시', '공주측정소', '공주PM2.5', '공주Latitude', '공주Longitude',
       '노은동연도', '노은동일시', '노은동측정소', '노은동PM2.5',
       ...
       '정림동측정소', '정림동PM2.5', '정림동Latitude', '정림동Longitude', '홍성읍연도', '홍성읍일시',
       '홍성읍측정소', '홍성읍PM2.5', '홍성읍Latitude', '홍성읍Longitude'],
      dtype='object', length=102)

In [18]:
def trian_use_column(ALL_TRAIN): # 컬럼명에 어떠한 단어가 포함되는 값 빼어내줌
    ALL_TRAIN_col_list = list(ALL_TRAIN.columns)

    pre_list = [] # 예측할 컬럼들.
    
    for i,v in enumerate(ALL_TRAIN_col_list):
        if "기온"in v or "풍향" in v or "풍속"  in v or "강수량" in v  or "습도"  in v or "Latitude" in v  or "Longitude" in v  :
            pre_list.append(v)
    return pre_list
trian_use_columns = trian_use_column(ALL_TRAIN_AWS)

In [19]:
ALL_TRAIN_AWS

,계룡연도,계룡일시,계룡지점,계룡기온(°C),계룡풍향(deg),계룡풍속(m/s),계룡강수량(mm),계룡습도(%),계룡Latitude,계룡Longitude,...,홍성죽도연도,홍성죽도일시,홍성죽도지점,홍성죽도기온(°C),홍성죽도풍향(deg),홍성죽도풍속(m/s),홍성죽도강수량(mm),홍성죽도습도(%),홍성죽도Latitude,홍성죽도Longitude
0,0,01-01 00:00,계룡,0.154818,0.410833,0.033248,0.0,0.830,36.3132,127.2407,...,0,01-01 00:00,홍성죽도,0.251185,0.012778,0.181586,0.0,0.733,36.52,126.4424
1,0,01-01 01:00,계룡,0.142180,0.148611,0.030691,0.0,0.853,36.3132,127.2407,...,0,01-01 01:00,홍성죽도,0.254344,0.009722,0.189258,0.0,0.718,36.52,126.4424
2,0,01-01 02:00,계룡,0.173776,0.203889,0.040921,0.0,0.802,36.3132,127.2407,...,0,01-01 02:00,홍성죽도,0.255924,0.016389,0.189258,0.0,0.692,36.52,126.4424
3,0,01-01 03:00,계룡,0.169036,0.330556,0.048593,0.0,0.816,36.3132,127.2407,...,0,01-01 03:00,홍성죽도,0.254344,0.016944,0.194373,0.0,0.697,36.52,126.4424
4,0,01-01 04:00,계룡,0.169036,0.000000,0.007673,0.0,0.827,36.3132,127.2407,...,0,01-01 04:00,홍성죽도,0.252765,0.003333,0.189258,0.0,0.684,36.52,126.4424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,3,12-31 19:00,계룡,0.265403,0.101944,0.025575,0.0,0.596,36.3132,127.2407,...,3,12-31 19:00,홍성죽도,0.317536,0.953333,0.230179,0.0,0.630,36.52,126.4424
35060,3,12-31 20:00,계룡,0.252765,0.338056,0.015345,0.0,0.594,36.3132,127.2407,...,3,12-31 20:00,홍성죽도,0.309637,0.984167,0.253197,0.0,0.648,36.52,126.4424
35061,3,12-31 21:00,계룡,0.257504,0.970556,0.040921,0.0,0.575,36.3132,127.2407,...,3,12-31 21:00,홍성죽도,0.308057,0.966667,0.265985,0.0,0.648,36.52,126.4424
35062,3,12-31 22:00,계룡,0.262243,0.908056,0.030691,0.0,0.611,36.3132,127.2407,...,3,12-31 22:00,홍성죽도,0.306477,0.976667,0.235294,0.0,0.642,36.52,126.4424
35063,3,12-31 23:00,계룡,0.257504,0.919444,0.051151,0.0,0.632,36.3132,127.2407,...,3,12-31 23:00,홍성죽도,0.303318,0.995278,0.168798,0.0,0.667,36.52,126.4424

In [20]:
ALL_TRAIN_AWS

,계룡연도,계룡일시,계룡지점,계룡기온(°C),계룡풍향(deg),계룡풍속(m/s),계룡강수량(mm),계룡습도(%),계룡Latitude,계룡Longitude,...,홍성죽도연도,홍성죽도일시,홍성죽도지점,홍성죽도기온(°C),홍성죽도풍향(deg),홍성죽도풍속(m/s),홍성죽도강수량(mm),홍성죽도습도(%),홍성죽도Latitude,홍성죽도Longitude
0,0,01-01 00:00,계룡,0.154818,0.410833,0.033248,0.0,0.830,36.3132,127.2407,...,0,01-01 00:00,홍성죽도,0.251185,0.012778,0.181586,0.0,0.733,36.52,126.4424
1,0,01-01 01:00,계룡,0.142180,0.148611,0.030691,0.0,0.853,36.3132,127.2407,...,0,01-01 01:00,홍성죽도,0.254344,0.009722,0.189258,0.0,0.718,36.52,126.4424
2,0,01-01 02:00,계룡,0.173776,0.203889,0.040921,0.0,0.802,36.3132,127.2407,...,0,01-01 02:00,홍성죽도,0.255924,0.016389,0.189258,0.0,0.692,36.52,126.4424
3,0,01-01 03:00,계룡,0.169036,0.330556,0.048593,0.0,0.816,36.3132,127.2407,...,0,01-01 03:00,홍성죽도,0.254344,0.016944,0.194373,0.0,0.697,36.52,126.4424
4,0,01-01 04:00,계룡,0.169036,0.000000,0.007673,0.0,0.827,36.3132,127.2407,...,0,01-01 04:00,홍성죽도,0.252765,0.003333,0.189258,0.0,0.684,36.52,126.4424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,3,12-31 19:00,계룡,0.265403,0.101944,0.025575,0.0,0.596,36.3132,127.2407,...,3,12-31 19:00,홍성죽도,0.317536,0.953333,0.230179,0.0,0.630,36.52,126.4424
35060,3,12-31 20:00,계룡,0.252765,0.338056,0.015345,0.0,0.594,36.3132,127.2407,...,3,12-31 20:00,홍성죽도,0.309637,0.984167,0.253197,0.0,0.648,36.52,126.4424
35061,3,12-31 21:00,계룡,0.257504,0.970556,0.040921,0.0,0.575,36.3132,127.2407,...,3,12-31 21:00,홍성죽도,0.308057,0.966667,0.265985,0.0,0.648,36.52,126.4424
35062,3,12-31 22:00,계룡,0.262243,0.908056,0.030691,0.0,0.611,36.3132,127.2407,...,3,12-31 22:00,홍성죽도,0.306477,0.976667,0.235294,0.0,0.642,36.52,126.4424
35063,3,12-31 23:00,계룡,0.257504,0.919444,0.051151,0.0,0.632,36.3132,127.2407,...,3,12-31 23:00,홍성죽도,0.303318,0.995278,0.168798,0.0,0.667,36.52,126.4424

In [21]:
X_data = pd.concat([ALL_TRAIN_AWS,ALL_TEST_AWS],axis = 0)[trian_use_columns]
Y_data = pd.concat([ALL_TRAIN,ALL_TEST_INPUT],axis = 0)[target]

In [22]:
ALL_DATA_BY_USE = pd.concat([X_data,Y_data],axis = 1)

In [32]:
answer_sample['일시'] = pd.to_datetime(answer_sample['일시'], format='%Y-%m-%d', errors='raise')

ValueError: time data "01-03 00:00" at position 0 doesn't match format specified

In [61]:
answer_sample = pd.read_csv("answer_sample.csv") # pmmap

In [69]:
def set_time(answer_sample):
    for i in range(len(answer_sample)):
        answer_sample["time"][i] = str(2001+answer_sample["연도"][i]) +"-"+answer_sample["일시"][i]
    answer_sample['time'] = pd.to_datetime(answer_sample['time'], format='%Y-%m-%d', errors='raise')

C:\Users\Happy\AppData\Local\Temp\ipykernel_32512\954762286.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  answer_sample["time"][i] = str(2000+answer_sample["연도"][i]) +"-"+answer_sample["일시"][i]

In [ ]:
 시간에 따라서 나누고 데이터 확인해서 트레인 테스트셋 구분하기

In [63]:
answer_sample

,연도,일시,측정소,PM2.5,time
0,4,01-03 00:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
1,4,01-03 01:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
2,4,01-03 02:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
3,4,01-03 03:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
4,4,01-03 04:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
...,...,...,...,...,...
78331,4,11-16 19:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78332,4,11-16 20:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78333,4,11-16 21:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78334,4,11-16 22:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78335,4,11-16 23:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...

In [56]:
2000+answer_sample["연도"]

0        2004
1        2004
2        2004
3        2004
4        2004
         ...
78331    2004
78332    2004
78333    2004
78334    2004
78335    2004
Name: 연도, Length: 78336, dtype: int64

In [55]:
answer_sample

,연도,일시,측정소,PM2.5,time
0,4,01-03 00:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
1,4,01-03 01:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
2,4,01-03 02:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
3,4,01-03 03:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
4,4,01-03 04:00,공주,NaN,0 2004\n1 2004\n2 2004\n3...
...,...,...,...,...,...
78331,4,11-16 19:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78332,4,11-16 20:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78333,4,11-16 21:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78334,4,11-16 22:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...
78335,4,11-16 23:00,홍성읍,NaN,0 2004\n1 2004\n2 2004\n3...

In [23]:
X_data

,계룡기온(°C),계룡풍향(deg),계룡풍속(m/s),계룡강수량(mm),계룡습도(%),계룡Latitude,계룡Longitude,공주기온(°C),공주풍향(deg),공주풍속(m/s),...,홍북습도(%),홍북Latitude,홍북Longitude,홍성죽도기온(°C),홍성죽도풍향(deg),홍성죽도풍속(m/s),홍성죽도강수량(mm),홍성죽도습도(%),홍성죽도Latitude,홍성죽도Longitude
0,0.154818,0.410833,0.033248,0.0,0.830,36.3132,127.2407,0.173776,0.201944,0.023018,...,0.865,36.6277,126.6451,0.251185,0.012778,0.181586,0.0,0.733,36.52,126.4424
1,0.142180,0.148611,0.030691,0.0,0.853,36.3132,127.2407,0.176935,0.168611,0.030691,...,0.875,36.6277,126.6451,0.254344,0.009722,0.189258,0.0,0.718,36.52,126.4424
2,0.173776,0.203889,0.040921,0.0,0.802,36.3132,127.2407,0.180095,0.087222,0.033248,...,0.870,36.6277,126.6451,0.255924,0.016389,0.189258,0.0,0.692,36.52,126.4424
3,0.169036,0.330556,0.048593,0.0,0.816,36.3132,127.2407,0.178515,0.087222,0.025575,...,0.852,36.6277,126.6451,0.254344,0.016944,0.194373,0.0,0.697,36.52,126.4424
4,0.169036,0.000000,0.007673,0.0,0.827,36.3132,127.2407,0.164297,0.113889,0.020460,...,0.882,36.6277,126.6451,0.252765,0.003333,0.189258,0.0,0.684,36.52,126.4424
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,0.437599,0.714722,0.053708,0.0,0.384,36.3132,127.2407,0.445498,0.791667,0.097187,...,0.554,36.6277,126.6451,0.426540,0.924444,0.209719,0.0,0.593,36.52,126.4424
7724,0.426540,0.741944,0.066496,0.0,0.414,36.3132,127.2407,0.426540,0.781667,0.104859,...,0.552,36.6277,126.6451,0.423381,0.974444,0.258312,0.0,0.665,36.52,126.4424
7725,0.409163,0.767222,0.079284,0.0,0.490,36.3132,127.2407,0.413902,0.735278,0.048593,...,0.579,36.6277,126.6451,0.423381,0.926111,0.207161,0.0,0.696,36.52,126.4424
7726,0.396524,0.824444,0.058824,0.0,0.534,36.3132,127.2407,0.404423,0.727222,0.058824,...,0.593,36.6277,126.6451,0.407583,0.986667,0.306905,0.0,0.661,36.52,126.4424
7727,0.382306,0.834722,0.043478,0.0,0.659,36.3132,127.2407,0.394945,0.895278,0.058824,...,0.622,36.6277,126.6451,0.398104,0.981111,0.345269,0.0,0.728,36.52,126.4424

In [24]:
Y_data

,공주PM2.5,노은동PM2.5,논산PM2.5,대천2동PM2.5,독곶리PM2.5,동문동PM2.5,모종동PM2.5,문창동PM2.5,성성동PM2.5,신방동PM2.5,신흥동PM2.5,아름동PM2.5,예산군PM2.5,읍내동PM2.5,이원면PM2.5,정림동PM2.5,홍성읍PM2.5
0,0.056,0.052,0.096,NaN,0.044,0.024,NaN,0.112,0.044,0.056,0.044,0.044,0.032,0.052,0.036,0.052,0.072
1,0.060,0.072,0.088,0.0680,0.032,0.052,NaN,0.072,0.040,0.048,0.064,0.048,0.032,0.064,0.040,0.088,0.076
2,0.068,0.068,0.072,0.0680,0.036,0.040,NaN,0.084,0.048,0.048,0.060,0.060,0.048,0.072,0.032,0.048,0.080
3,0.060,0.064,0.084,0.0680,0.028,0.044,NaN,0.076,0.056,0.056,0.072,0.064,0.044,0.072,0.040,0.052,0.076
4,0.068,0.064,0.096,0.0624,0.028,0.028,NaN,0.064,0.048,0.044,0.080,0.064,0.036,0.052,0.040,0.088,0.096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7723,0.052,0.032,0.024,0.0320,0.004,0.044,0.056,0.032,0.044,0.040,0.048,0.036,0.044,0.032,0.012,0.044,0.056
7724,0.056,0.032,0.036,0.0520,0.004,0.036,0.040,0.028,0.036,0.028,0.020,0.032,0.040,0.016,0.008,0.024,0.036
7725,0.036,0.020,0.024,0.0320,0.004,0.036,0.020,0.008,0.040,0.020,0.020,0.036,0.024,0.028,0.012,0.008,0.020
7726,0.044,0.024,0.028,0.0360,0.008,0.036,0.024,0.016,0.040,0.016,0.032,0.036,0.024,0.028,0.020,0.024,0.024
7727,0.036,0.008,0.020,0.0400,0.004,0.036,0.036,0.020,0.032,0.012,0.036,0.028,0.052,0.036,0.036,0.064,0.024

In [442]:
from sklearn.preprocessing import MinMaxScaler,PowerTransformer,LabelEncoder,StandardScaler

# 이부분 class로 변환할까? 나중에 정해진 범위까지만 데이터 스케일링 할 수도 있음.
# def MinMaxScaler_fun(df): #맞춤 변환 함수와 그에 맞는 데이터를 돌려줌
#     col = list(df.columns)
#     Scaler = MinMaxScaler()
#     Scaler.fit(df)
#     df = Scaler.transform(df)
# #     df = Scaler_X.fit_transform(df)
#     df = pd.DataFrame(df, columns = X_col)
#     return df, Scaler
# X_data ,Scaler = MinMaxScaler_fun(X_data)
# Y_data , Y_data_Scaler = MinMaxScaler_fun(Y_data)

X_col = list(X_data.columns)
Scaler = MinMaxScaler()
Scaler.fit(X_data)
X_data = Scaler.transform(X_data)
#     df = Scaler_X.fit_transform(df)
X_data = pd.DataFrame(X_data, columns = X_col)
    
# 모데링 잘나오게만 할거면 이렇게 하면 됨



# @@ 나중에 여기에 검증셋으로 나누어서 하는 모델도 추가.

In [443]:
X_data

,계룡기온(°C),계룡풍향(deg),계룡풍속(m/s),계룡강수량(mm),계룡습도(%),계룡Latitude,계룡Longitude,공주기온(°C),공주풍향(deg),공주풍속(m/s),...,홍북습도(%),홍북Latitude,홍북Longitude,홍성죽도기온(°C),홍성죽도풍향(deg),홍성죽도풍속(m/s),홍성죽도강수량(mm),홍성죽도습도(%),홍성죽도Latitude,홍성죽도Longitude
0,0.158833,0.410833,0.168831,0.0,0.840081,0.0,0.0,0.142617,0.201944,0.108434,...,0.862876,0.0,0.0,0.113725,0.012778,0.239057,0.0,0.683143,0.0,0.0
1,0.145867,0.148611,0.155844,0.0,0.863360,0.0,0.0,0.145973,0.168611,0.144578,...,0.874025,0.0,0.0,0.117647,0.009722,0.249158,0.0,0.664132,0.0,0.0
2,0.178282,0.203889,0.207792,0.0,0.811741,0.0,0.0,0.149329,0.087222,0.156627,...,0.868450,0.0,0.0,0.119608,0.016389,0.249158,0.0,0.631179,0.0,0.0
3,0.173420,0.330556,0.246753,0.0,0.825911,0.0,0.0,0.147651,0.087222,0.120482,...,0.848384,0.0,0.0,0.117647,0.016944,0.255892,0.0,0.637516,0.0,0.0
4,0.173420,0.000000,0.038961,0.0,0.837045,0.0,0.0,0.132550,0.113889,0.096386,...,0.881828,0.0,0.0,0.115686,0.003333,0.249158,0.0,0.621039,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42787,0.448947,0.714722,0.272727,0.0,0.388664,0.0,0.0,0.431208,0.791667,0.457831,...,0.516165,0.0,0.0,0.331373,0.924444,0.276094,0.0,0.505703,0.0,0.0
42788,0.437601,0.741944,0.337662,0.0,0.419028,0.0,0.0,0.411074,0.781667,0.493976,...,0.513935,0.0,0.0,0.327451,0.974444,0.340067,0.0,0.596958,0.0,0.0
42789,0.419773,0.767222,0.402597,0.0,0.495951,0.0,0.0,0.397651,0.735278,0.228916,...,0.544036,0.0,0.0,0.327451,0.926111,0.272727,0.0,0.636248,0.0,0.0
42790,0.406807,0.824444,0.298701,0.0,0.540486,0.0,0.0,0.387584,0.727222,0.277108,...,0.559643,0.0,0.0,0.307843,0.986667,0.404040,0.0,0.591888,0.0,0.0
42791,0.392220,0.834722,0.220779,0.0,0.667004,0.0,0.0,0.377517,0.895278,0.277108,...,0.591973,0.0,0.0,0.296078,0.981111,0.454545,0.0,0.676806,0.0,0.0

['공주PM2.5',
 '노은동PM2.5',
 '논산PM2.5',
 '대천2동PM2.5',
 '독곶리PM2.5',
 '동문동PM2.5',
 '모종동PM2.5',
 '문창동PM2.5',
 '성성동PM2.5',
 '신방동PM2.5',
 '신흥동PM2.5',
 '아름동PM2.5',
 '예산군PM2.5',
 '읍내동PM2.5',
 '이원면PM2.5',
 '정림동PM2.5',
 '홍성읍PM2.5']

In [ ]:
# 일단 일시는 드롭하고 지점은 원핫 인코딩을 해버린다. 
TRAIN
TEST_INPUT
여기서 pre_list를 가져와 y값 라벨로 만든다.

In [ ]:
pre_list

In [30]:
answer_sample[["측정소"]].value_counts()

측정소
공주      4608
신방동     4608
정림동     4608
이원면     4608
읍내동     4608
예산군     4608
아름동     4608
신흥동     4608
성성동     4608
노은동     4608
문창동     4608
모종동     4608
동문동     4608
독곶리     4608
대천2동    4608
논산      4608
홍성읍     4608
dtype: int64

In [353]:
All_data["pmmap"]

,Location,Latitude,Longitude,Description
0,아름동,36.512252,127.246789,세종특별자치시 보듬3로 114 아름동커뮤니티센터 옥상 (아름동)
1,신흥동,36.592887,127.292550,세종 조치원읍 군청로 87-16(신흥동) 세종특별자치시 조치원청사 옥상
2,노은동,36.368242,127.318498,대전 유성구 노은동로 87번길 89(노은1동 주민센터) 노은1동 주민센터 3층 옥상
3,문창동,36.317215,127.437825,대전 중구 보문로 20번길 38(문창동 주민센터) 문창동 주민센터
4,읍내동,36.372388,127.417714,대전 대덕구 대전로 1331번길 75(태아산업(주)) 태아산업(주)
5,정림동,36.304442,127.366742,대전 서구 정림동로 10(정림동 주민센터) 정림동 주민센터
6,공주,36.446951,127.119209,충남 공주시 봉황로 1 (공주시의회 옥상)
7,논산,36.199217,127.087021,충남 논산시 시민로 389 (취암/부창동 행정복지센터 2층 옥상)
8,대천2동,36.353148,126.589735,충남 보령시 중앙로 142-16 (대천2동 주민센터 옥상)
9,독곶리,36.987579,126.391672,충남 서산시 대산읍 평신1로(독곶리) 한국수자원공사 대산산업용수센터 저수동 옥상
10,동문동,36.780158,126.455197,충청남도 서산시 중앙로 38-1 서산초등학교 (동문동)
11,모종동,36.782700,127.014610,충남 아산시 모종동 573-2 보건소옥상
12,신방동,36.782355,127.120506,충남 천안시 동남구 천안천변길 127 천안시 맑은물사업소 하수처리장 (신방동)
13,예산군,36.677398,126.848918,충남 예산군 예산읍 신흥길 63 (다목적 노인회관 옥상)
14,이원면,36.869719,126.280501,충남 태안군 이원면 분지길 14 (이원면사무소 1층 나동 옥상)
15,홍성읍,36.597673,126.655087,충남 홍성군 홍성읍 내포로 136번길 29 (느티나무 어린이집 옥상)
16,성성동,36.840313,127.141777,충남 천안시 서북구 성성동 1-70

In [354]:
answer_sample = location(answer_sample, All_data,a = "pmmap")

IndexError: single positional indexer is out-of-bounds

In [357]:
answer_sample

       연도           일시  측정소  PM2.5
0       4  01-03 00:00   공주    NaN
1       4  01-03 01:00   공주    NaN
2       4  01-03 02:00   공주    NaN
3       4  01-03 03:00   공주    NaN
4       4  01-03 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[78336 rows x 4 columns]

In [358]:
answer_sample[3000:]

       연도           일시  측정소  PM2.5
3000    4  07-29 00:00   공주    NaN
3001    4  07-29 01:00   공주    NaN
3002    4  07-29 02:00   공주    NaN
3003    4  07-29 03:00   공주    NaN
3004    4  07-29 04:00   공주    NaN
...    ..          ...  ...    ...
78331   4  11-16 19:00  홍성읍    NaN
78332   4  11-16 20:00  홍성읍    NaN
78333   4  11-16 21:00  홍성읍    NaN
78334   4  11-16 22:00  홍성읍    NaN
78335   4  11-16 23:00  홍성읍    NaN

[75336 rows x 4 columns]